.dashboard-container {
    display: flex;
    justify-content: center;
    background-image: url(../assets/dashboard_bg.png);
    background-size: cover;
    height: 100vh;
}

Tree_Animn_Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 5s ease-out;
}

.left-panel {
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: auto;
    margin-bottom: 2rem;
    z-index: 2;
    background-color: #333;
    border-radius: 10px;
    transform: scale(1.1);
    width: 120px;
}

.user-info {
    color: #007BFF;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.user-info-username-container {
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    height: 22px;
}

.user-info-username {
    display: inline-block;
    white-space: nowrap;
    color: rgb(74, 169, 92);
    text-overflow: ellipsis;
    max-width: 100%;
}

.user-info-username:hover {
    animation: scroll-username 1s linear infinite alternate;
}

@keyframes scroll-username {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-40%); }
}

.logout-button {
    color: black;
    font-weight: bold;
    background-color: rgb(74, 169, 92);
    transform: scale(1.1);
    margin-bottom: 1rem;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 15px;
    text-align: center;
}

.logout-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.logout-button a {
    color: white;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
}
.logout-button a:hover {
    color: black;
}